.footer-container {
    padding: 5em;
    background-color: black;
}

.pre-title-f {
    padding: 10px;
    color: #ffff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;

}

.title-f {
    color: #ffff;
    text-align: center;
    font-size: 2.5em;
}

.text-f {
    padding-top: 15px;
    font-size: 16px;
    text-align: center;
    color: #ffff;
}