.proyects-sec {
    padding: 4em;
    background-color: #F4F5F7;
}

.title-proyects {

    font-size: 48px;
    font-family: 'El Messiri', sans-serif;
}


.container-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//




.info-background {
    font-size: 25px;
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

}

//

.line2 {
    margin: 10px;
    border: 1px solid blue;
    width: 3em;
    display: flex;

}

.subcontainer {
    width: 400px;
    text-align: center;
}

.title-proyect {
    padding: 15px;
    text-transform: capitalize;
}

.img-proyect {
    max-width: 420px;
    border-radius: 5%;
}

.list-icons {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    color: black;
    font-size: 28px;
}

.icons:hover {
    color: #1461ff;
}

#view-icon {
    font-size: 34px;
    padding: 15px;
}

.li-icons:hover {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

//proyects

.proyects-container-d {
    justify-content: center;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;

}


.img-proyect {
    max-width: 400px;
    border-radius: 5%;
    height: auto;
    view-timeline-name: --revealing-image;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --revealing-image;
    animation-range: entry 25% cover 50%;
}

.video-proyect {
    max-width: 400px;
    border-radius: 5%;
    height: auto;
    view-timeline-name: --revealing-image;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --revealing-image;
    animation-range: entry 25% cover 50%;
}

@keyframes show {

    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }

}

//icons
.icon-li {
    padding: 0px 5px;
}

.icon-i2 {
    width: 25px;
}